# Ambientes virtuais
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# IDEs
.idea/
.vscode/

# Variáveis de ambiente
.env

# Banco de dados local
*.db
*.sqlite3

# Sistema operacional
Thumbs.db
.DS_Store
